body {
  /* background-color: brown; */
}

h1 {
  color: lightsalmon;
}

/* Selector is a class */
.intro-para {
  color: #5dbcd2;
  background-color: rgb(237, 184, 121);
}

ul {
  list-style-type: none;
}

/* Cascading & Specificty */

#ol-id {
  color: yellow;
}

.ol-class-two {
  color: aqua;
}

.ol-class {
  color: green;
}

ol {
  list-style-type: lower-roman;
  color: blue;
}

ol {
  color: red;
}

/* Selector is an id */
#para-one {
  border: 1px solid black;
}

.border-element {
  /* border-style: dashed;
  border-color: blueviolet;
  border-width: 5px; */
  border: 5px dashed blueviolet;
  /* padding: 3em 5em 7em 9em; */
  /* margin: 2em; */
  width: 100px;
  height: 100px;
  margin: auto;
}

/* CSS Selector combinations: https://www.w3schools.com/css/css_combinators.asp */

/* Descendent selector: */

div p {
  background-color: chocolate;
}

/* Direct descendent selector: */

div > p {
  background-color: rosybrown;
}


/* Sibling selector: */

p ~ p {
  color: indianred;
}

/* Adjacent sibling selector: */

p + p {
  color: mediumslateblue;
}
