body {
  background-color: brown;
}

h1 {
  color: lightsalmon;
}

/* Selector is a class */
.intro-para {
  color: #5dbcd2;
  background-color: rgb(237, 184, 121);
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: lower-roman;
}

/* Selector is an id */
#para-one {
  border: 1px solid black;
}
